* {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'M PLUS 1', sans-serif;
    color: #311D3F;
}

body {
    background: #E23E57;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
}

p {
    font-size: 20px;
    text-align: center;
}

/* Nav styles */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #88304E;
}

.nav-link {
    float: left;
}

.nav-link a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'DotGothic16', sans-serif;
}

.nav-link a:hover {
    background: #522546;
}


/* Fake ID selectors, just house color palettes */
#colors1 {
    color: #EF7674;
    color: #EC5766;
    color: #DA344D;
    color: #D91E36;
    color: #C42348;
}

#colors2 {
    color: #E23E57;
    color: #88304E;
    color: #522546;
    color: #311D3F;
}