* {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Noto Serif JP', serif;
}

body {
    background: #F1ECE1;
    color: #311D3F;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'DotGothic16', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

main {
    margin-bottom: 50px;
}

button {
    background-color: #311D3F;
    color: #F1ECE1;
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-style: dotted;
    border-radius: 45px;
}

/* .nav-link {
    float: left;
} */

.icon {
    width: 40px;
    height: auto;
    background-image: url(images/sakura.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Flips an image horizontally */
.flipped {
    transform: scaleX(-1);
}

.banner {
    background-image: url(images/fubuzilla.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 70px;
}
/* Used as a test */
/* .banner-text {
    font-family: 'DotGothic16', sans-serif;
    font-size: 12px;
} */

.nav-link-text {
    display: block;
    color: #311D3F;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'DotGothic16', sans-serif;
}

/* .nav-link, .nav-link:visited {
    text-decoration: none;
    color: #AC7CB4;
    position: relative;
} */

.nav-link a:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.nav-link a {
    transition: transform .2s;
}

/* Header logo styles */
.logo {
    padding: 50px;
    /* Credit: https://life-style-s.blogspot.com/2018/11/pixel-art-background-gif.html */
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7)), url("images/pink.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-style: dotted;
    border-radius: 45px;
}

.logo-text {
    font-family: 'DotGothic16', sans-serif;
    font-size: 50px;
    font-weight: 100; 
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}

/* Main div styles */
.article {
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.article h2 {
    transition: 0.25s ease-in-out;
}

/* Link styles & animations */

.article-link, .article-link:visited {
    font-family: 'DotGothic16', sans-serif;
    text-decoration: none;
    color: #AC7CB4;
    position: relative;
}

.article h2:hover {
    /* transform: scale(1.25); */
    transform: scale(1.15);
    translate: 0px -10px;
    cursor: pointer;
}

/* 'This Week's Trending Chapters!' section styles */
.chapter {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 300px;
    box-shadow: 10px -10px;
    cursor: pointer;
    transition: all 0.35s ease;
}

.chapter:hover {
    translate: 0px -10px;   
}

.episode {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 300px;
    box-shadow: 10px -10px;
    cursor: pointer;
    transition: all 0.35s ease;
}

/* Thinking about doing something different for the animations on this one */
.episode:hover { 
    translate: 0px -10px;  
}

.chapter, .episode {
    background-size: cover;
    background-repeat: no-repeat;
}

/* Makes a div a link */
.link-spanner {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

/* .top1 { */
    /* width: 400px;
    height: 600px; */
/* } */

.chapter.jjk {
    background-image: url(images/jjk-vol1.webp);
}

/* Manga cover styles */
.chapter.opm {
    background-image: url(images/opm-vol1.webp);
}

.chapter.op {
    background-image: url(images/op-vol1.webp);
}

.chapter.ddd {
    background-image: url(images/ddd-vol1.webp);
}

.chapter.kny {
    background-image: url(images/kny-vol1.webp);
}

.chapter.bl {
    background-image: url(images/bl-vol1.webp);
}

/* Anime poster styles */
.episode.jjk {
    background-image: url(images/jjk-s2.jpg)
}

.episode.frieren {
    background-image: url(images/frieren-s1.png)
}

.episode.onk {
    background-image: url(images/onk-s1.png)
}

.episode.op-wano {
    background-image: url(images/op-wanoarc.png)
}

.episode.nier {
    background-image: url(images/nier1.1a-s1.png)
}

.episode.bleach {
    background-image: url(images/bleach-tybw.png)
}


/* Prototype version of what I want to happen, not exactly the end product */
/* .chapter:hover {
    width: 400px;
} */
/* Footer styles */
/* Lightswitch styles */

.lightswitch {
    cursor: pointer;
    border-style: dotted;
    border-radius: 45px;
    padding: 10px;
}

.peko {
    width: 250px;
    height: auto;
}

.copyright {
    font-size: 15px;
}

/* Fake ID selectors, just house color palettes */
#colors1 {
    color: #EF7674;
    color: #EC5766;
    color: #DA344D;
    color: #D91E36;
    color: #C42348;
}

#colors2 {
    color: #E23E57;
    color: #88304E;
    color: #522546;
    color: #311D3F;
}

/* Palettes from dark mode header image */
#colors3 {
    color: #34779B;
    color: #F1ECE1;
    color: #DFACC4;
    color: #AECDED;
    color: #AC7CB4;
}

#darkColors {
    color: #00506F;
    color: #FF6666;
    color: #17A7C6;
    color: #002233;
    color: #DED687;
}

hr {
    border-top: 2px dotted;
    border-bottom: none;
}

/* Specific styles, if needed */
.xtra-padding {
    padding: 20px;
}

.xtra-gap {
    gap: 70px;
}

.no-wrap {
    flex-wrap: nowrap;
}

.flexible {
    width: 100%;
    height: auto;
}

/* Animations that play when an element is in the viewport */
/* [data-inviewport] {
    width:100px; height:600px;
} */
[data-inviewport='scale-in'] {
    transform: scale(0.3);
}

[data-inviewport='scale-in'].is-inViewport {
    transform: scale(1);
}
