* {
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Noto Serif JP', serif;
}

body {
    background: #F1ECE1;
    color: #311D3F;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'DotGothic16', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

main {
    margin-bottom: 50px;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* .nav-link {
    float: left;
} */

.icon {
    width: 40px;
    height: auto;
    background-image: url(images/sakura.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Flips an image horizontally */
.flipped {
    transform: scaleX(-1);
}

.nav-link-text {
    display: block;
    color: #311D3F;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'DotGothic16', sans-serif;
}

/* .nav-link, .nav-link:visited {
    text-decoration: none;
    color: #AC7CB4;
    position: relative;
} */

.nav-link a:hover {
    transform: scale(1.25);
    cursor: pointer;
}

.nav-link a {
    transition: transform .2s;
}

/* Header logo styles */
.logo {
    padding: 50px;
    /* Credit: https://life-style-s.blogspot.com/2018/11/pixel-art-background-gif.html */
    background-image: url("images/pink.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: rgba(255,255,255,0.2);
    border-style: dotted;
    border-radius: 45px;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
}

/* Main div styles */
.article {
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.article h2 {
    transition: transform .2s;
}

/* Link styles & animations */

.article-link, .article-link:visited {
    font-family: 'DotGothic16', sans-serif;
    text-decoration: none;
    color: #AC7CB4;
    position: relative;
}

.article h2:hover {
    transform: scale(1.5);
    cursor: pointer;
}

/* Footer styles */
.copyright {
    font-size: 15px;
}
/* Lightswitch styles */

.lightswitch {
    justify-content: center;
}

.btn {
    background-color: #311D3F;
    color: #F1ECE1;
    font-size: 15px;
    border-radius: 12px;
}

/* Fake ID selectors, just house color palettes */
#colors1 {
    color: #EF7674;
    color: #EC5766;
    color: #DA344D;
    color: #D91E36;
    color: #C42348;
}

#colors2 {
    color: #E23E57;
    color: #88304E;
    color: #522546;
    color: #311D3F;
}

/* Palette from header image */
#colors3 {
    color: #34779B;
    color: #F1ECE1;
    color: #DFACC4;
    color: #AECDED;
    color: #AC7CB4;
}

#darkColors {
    color: #00506F;
    color: #FF6666;
    color: #17A7C6;
    color: #002233;
    color: #DED687;
}